body{
  background: #f0f0f0;
}
:host {
    display: block;
    font-family:sans-serif;
    display:flex;
}
.leftMenu{
    display:flex;
    flex-direction: column;
    box-sizing:border-box;
    margin:5px 10px;
    width:220px;
}
/* CARDS */
.card{
  border-radius: 7px;
  background: #fff;
  border: 1px solid #d3d3d3;
  margin-top:10px;
  box-sizing:border-box;
  width:200px;

}

.card > .header {
  
  background-color: #d3d3d3;
  padding: 13px;
  padding-left: 3em;
  font-size: 14px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #d3d3d3;
}
.card > .header.user{
  background-image: url(../img/user.svg);
  background-position: 7px;
  background-size: 1.5em;
  background-repeat: no-repeat;
}
.card > .header.server{
  background-image: url(../img/server.svg);
  background-position: 7px;
  background-size: 1.5em;
  background-repeat: no-repeat;
}
.card > .header.octopus{
  background-image: url(../img/logoBig.png);
  background-position: 7px;
  background-size: 1.5em;
  background-repeat: no-repeat;
}
.card > .header > .title {
  font-weight: 900;
}
.card  > .body {
  padding:10px;
  font-size: 12px;

}
.card  > .body > p {
  margin:2px 0px;
  font-size: 12px;
}
/* CONTAINERS */
.impedence-container{
  margin-top:10px;
  border-radius:2px;
  max-width:200px;
  padding:10px;
  background:#e2e2e2;
  margin:15px;
  box-sizing: border-box;  
  text-transform: uppercase;
  font-size: 12px;
}
/* FORM ELEMENTS */
button{
  margin: 5px auto;
  padding: 5px 10px;
  border-radius: 2px;
}
label {
  display:block;
  font-size: 12px;
}
select{
  border-radius: 0px;
  border: solid 1px #d0c7c7;
  height: 25px;
  background: #fff;
  padding: 5px 5px;
}
/* POSITIONINGS */
.relative{
  position:relative
}
.info-icon{
  position:absolute;
  right:0;
  top:-17px;
}
.pull-left{
  float: left;
}
.pull-right{
  float: right;
}
.center{
  text-align: center;
}
.w50{
  width: 50%;
  box-sizing:border-box;
  padding:5px
}
img.true{
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}
/* DISPLAYS */
.block{
  display: block;
}
.hide{
  display: none;
}
/* TYPOGRAPHY */
.bold-red{
  color:#FF0000;
  font-weight:900;
}