div.timepicker {
  position: absolute;
  z-index: 100;
}
div.timepicker > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 83px;
  border: 1px solid rgba(0, 0, 0, 0.0);
  font-size: 13px;
  max-height: 290px;
  overflow: scroll;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.0);
  background: #fff;
  overflow-x: hidden;
}
input{
  border-radius: 4px;
  border: none;
  padding: 4px;
}
input.false{
  background: #d8363669;
}
div.timepicker > ul > li {
  height: 40px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  line-height: 150%;
  display: block;
  text-decoration: none;
  color: #363636;
}
div.timepicker > ul > li.hover {
  background: #e8edeb;
}
